#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Background color of the nav bar */
}

/* Styling for each list item */
nav ul li {

  border: 1px solid white;
  float: left;
}

/* Styling for the links */
nav ul li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
nav ul li a:hover {
  background-color: #0a573a;
}